Source: tkl-dhcpcd-ifupdown-glue
Section: net
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.2
Vcs-Git: https://github.com/turnkeylinux/tkl-dhcpcd-ifupdown-glue.git
Vcs-Browser: https://github.com/turnkeylinux/tkl-dhcpcd-ifupdown-glue
Rules-Requires-Root: no

Package: tkl-dhcpcd-ifupdown-glue
Architecture: all
Depends:
 ${misc:Depends},
 dhcpcd-base,
 ifupdown-ng,
Description: Glue hooks to sync dhcpcd.conf & /etc/network/interfaces
 Provides ifupdown glue hook scripts to keep dhcpcd.conf and
 /etc/network/interfaces in sync.
 .
 If an interface is configured as either "static" or "manual", 'ifup'
 dynamically adds config to /etc/dhcpcd.conf to disable DHCP for that
 interface.
 .
 When an interface is bought down, config is removed from /etc/dhcpcd.conf
 to ensure that manually invoking 'dhcpcd' still works as expected.
 .
 Supports enabling/disabling IPv4 and IPv6 DHCP separately via interfaces
 file.
